$font: 'Spartan', sans-serif;

$fwLight: 300;
$fwMedium: 500;
$fwBold: 700;

$mainColor: #bb5432;
$altColor: #f1c5b6;
$lightColor: #fff;

$fastTransition: 0.2s;
$slowTransition: 1s;

$gutter: 0.8rem;
